# brainviewer/static/images_data/
# db.sqlite3
# */migrations
# */__pycache__
app/backend/brainviewer/static/images_data/
app/backend/db.sqlite3
app/backend/**/migrations
app/backend/**/__pycache__
.env